* {
    box-sizing: border-box;
    margin: 0;
    padding: 5px;
}
.navigation{
    background-color: rgb(139, 129, 129);
    padding: 10px;
    color: black;
    width: 100%;
}
.main img{
    height: 50px;
    border-radius:19px;
}
.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    flex-wrap: wrap;
    margin: auto; 
    top: 0%;
    position: sticky;
    z-index: 10;
}
.main ul{
    list-style: none;
    gap: 20px;
    display: flex;
}
.son a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: 
    Georgia, 
    'Times New Roman', 
    Times, serif;
    cursor: grab;
}
.main li{
    color: rgb(255, 115, 0);
    font-weight: bolder;
}
marquee{
    color: rgb(255, 115, 0);
    font-family:
    'Franklin Gothic Medium', 
    'Arial Narrow', Arial, 
    sans-serif;
    font-size: 30px;
    margin: 10px;
}