* {
    box-sizing: border-box;
    margin: 0;
    padding: 1px auto;
}
.header {
    padding: 1px;
    width: 100%;
    border-radius: 10px;
}
.header img {
    height: 100px;
    width: 100px;
    position: relative;
    top: 10px;
}
.nav {
    background-color: #e3e3e3;
    border: 20px #e3e3e3 solid;
    border-radius: 100px;
    width: 50%;
    margin-top: 20px;
    top: 0%;
    position: sticky;
    z-index: 10;
    margin-left: 25%;
    padding: 15px;
}
.nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0 30px;
    margin: 10px 0;
}
.nav_list a {
    text-decoration: none;
}
marquee {
    color: black;
    font-family: monospace;
    margin: 0;
    padding: 20px;
    width: 100%;
    font-weight: 600;
}
p {
    font-size: 40px;
    font-family: monospace;
}